<html>
<head>
    <%- include('partials/header1.ejs') %>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
    <%- include('partials/navbar2.ejs') %>
    <div class="container">
        <h2>List of GardenGrocer Customers</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (CustomersData.length != 0) {
                    CustomersData.forEach((data) => { %>
                        <tr>
                            <td><%= data.id %></td>
                            <td><%= data.name %></td>
                            <td><%= data.phone %></td>
                            <td>$<%= data.balance.toFixed(2) %></td>
                            <td>
                                <a href="/updateCustomers?id=<%= data.id %>" class="btn">Update</a>
                                <a href="/deleteCustomer?id=<%= data.id %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% });
                } else { %>
                    <tr>
                        <td colspan="5" style="text-align: center;">No customers found</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
