<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar2.ejs') %>
        <div class="container" style="max-width: 700px;">
            <h1>Update an existing customer.</h1>
            <form method="POST" >
                <br>
                <label style="width: 100px;" for="name"> Name</label>
                <input type="text" id="name" placeholder="Enter Customer's name" name="name" value="<%= customer.name %>" required>
                <br>
                <br>
                <label style="width: 100px;" for="password"> Password</label>
                <input type="text" id="password" placeholder="Enter password" name="password" value="<%= customer.password %>" required>
                <br>
                <br>
                <label style="width: 100px;" for="phone"> phone</label>
                <input type="text" id="phone" placeholder="Enter phone number" name="phone" value="<%= customer.phone %>" required>
                <br>
                <br>
                <label style="width: 100px;" for="balance"> balance</label>
                <input type="text" id="balance" placeholder="Enter blance" name="balance" value="<%= customer.balance %>" required>
                <br>
                <br>                
                <label style="width: 100px;" for="loyaltyId"> loyalty id</label>
                <input type="text" id="loyaltyId" placeholder="Enter loyaltyId" name="loyaltyId" value="<%= customer.loyaltyId %>" required>
                <br>
                <br>
                <button type="submit">Update</button>
                <br>
            </form>
        </div>
    </body>
</html>